.slide-content {
  background: crimson;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rss--slides-container :nth-child(1) .slide-content {
  background: #f44336;
}

.rss--slides-container :nth-child(2) .slide-content {
  background: #9c27b0;
}

.rss--slides-container :nth-child(3) .slide-content {
  background: #3f51b5;
}
